<div class="cell">
    <div class="grid-x grid-padding-x align-middle small-12 medium-up-{{include.object.block_section_content.item_width}}">
        {% for block in include.object.block_section_content.blocks %}
        <div class="cell">
            {% if block.url %}<a href="{{block.url}}">{% endif %}
            <div class="card">
                {% if block.inner_image %}
                    {% if block.inner_image.icon %}
                    <i class="block_image_icon {{block.inner_image.icon_name}}"></i>
                    {% else %}
                        {% assign image_path = block.inner_image.path | remove_first: '/' %}
                        {% picture card {{image_path}} alt=block.inner_image.alt %}
                    {% endif %}
                {% endif %}
                <div class="card-section">
                    {% if block.title %}
                        <h3>{{block.title.text}}</h3>
                    {% endif %}
                    {% if block.text_content %}
                        <p>
                            {{block.text_content.text | markdownify }}
                        </p>
                    {% endif %}
                    {% if block.buttons %}
                        {% include flow/buttons.html object=block.buttons %}
                    {% endif %}
                </div>
            </div>
            {% if block.url %}</a>{% endif%}
        </div>
        {% endfor %}
    </div>
</div>
