{% for section in include.sections %}
    {% if section.format == "title" %}
        {% include flow/title.html object=section %}
    {% elsif section.format == "image" %}
        {% include flow/image_section.html object=section %}
    {% elsif section.format == "members" %}
        {% include flow/members_section.html object=section %}
    {% elsif section.format == "block" %}
        {% include flow/blocks.html object=section %}
    {% elsif section.format == "buttons" %}
        {% include flow/buttons.html object=section.buttons_content style=section.class %}
    {% elsif section.format == "text" %}
        {% include flow/text.html object=section %}
    {% elsif section.format == "custom_include" %}
        {% include {{section.source}} object=section %}
    {% elsif section.format == "slider" %}
        {% include flow/slider.html object=section.slider_content class="slider_block_row" %}
    {% elsif section.format == "feature_block" %}
        {% include flow/feature_block.html object=section.feature_block_content %}
    {% endif %}
{% endfor %}
