#root {
  @include breakpoint(small only) {
    ul.doc_nav.vertical.menu.accordion-menu {
      background-color: #f6f6f6;
      border: 1px solid #e6e6e6;
      margin-bottom: 13px;
    }
  }
  .sidebar_container {
    padding-bottom: 0px;
    height: auto !important;
  }

  div#doc_sidebar {
    margin-bottom: 19px;
  }
}
