#header_carousel {
   .orbit-container {
        height: $header_height;
        width: auto;
        figure {
            img.orbit-image {
                height: $header_height;
                object-fit: cover;
            }
            figcaption {
                text-align: center;
            }
        }
    }
}
#root {
    .callout {
        max-height: $header_height;
        height: $header_height;
        border:0px;
        border-bottom: 1px solid #cecece;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        .cell {
            position:relative;
            z-index: 0;
        }
        &.darken {
            h1, p, a{
                color: white;

            }
        }
    }
}


.darken:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: $header_height;
    left: 0;
    background-image: linear-gradient(to bottom right, #000, #000);
    opacity: .5;
    width: 100%;
    z-index: 0;
}
