// Global Colours
$foundation-palette: (
  primary: #79ac00,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$topbar-background: #fff;
$body-font-family: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$callout-background: #8a8a8a;
// Theme specific settings
$flow_row_padding: 50px;
$header_height: 500px;
