@import "theme/navbar";
@import "theme/header";
@import "theme/footer";
@import "theme/fontello";
@import "theme/post";
@import "theme/products";
@import "theme/flow";
@import "theme/tab_nav";
@import "theme/documentation";
@import "theme/syntax";

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/lato/regular/regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/lato/regular/regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/lato/regular/regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/lato/regular/regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("/assets/fonts/lato/regular/regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/lato/regular/regular.svg")
      format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("/assets/fonts/lato/bold/bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/lato/bold/bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/lato/bold/bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/lato/bold/bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("/assets/fonts/lato/bold/bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/lato/bold/bold.svg")
      format("svg"); /* Legacy iOS */
}

html {
  background-color: #1c1c1c;
}

.zoom {
  img {
    transition: all 200ms ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

#breadcrumb {
  background-color: $breadcrumb_bg_color;
  color: $breadcrumb_text_color;
  div#page_breadcrumb {
    padding-top: 10px;
  }
  .breadcrumbs {
    li {
      color: $breadcrumb_text_color;
    }
  }
  &.breadcrumb_image {
    h1 {
      color: white;
    }
    li {
      color: white;
    }
  }
}
// Pagination
#root .pagination {
  margin: 30px 0;
  li,
  a {
    background-color: #272727;
    color: white;
  }
  .disabled,
  .disabled_link {
    opacity: 0.3;
    cursor: not-allowed;
    a {
      cursor: not-allowed;
    }
  }
  .current {
    padding: 0px;
    a {
      background-color: $primary-color;
      color: white;
    }
  }
}
// Text Selection
::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
  color: #fff;
}
// ScrollBar Style
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: $topbar-background;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}
.header_carousel {
  .darken:before {
    z-index: 0;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
#root {
  .owl-dots {
    .owl-dot.active span {
      background: #78ac00;
    }
    .owl-dot:hover span {
      background: #78ac00;
    }
  }
  .owl-nav {
    button {
      font-weight: bold;
      font-size: 22px;
      padding-top: 0px;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
// Code Highlighting
.language-shell.highlighter-rouge {
  border-radius: 2px;
  overflow: hidden;
}
pre.highlight {
  padding: 10px;
  border-radius: 11px;
  code {
    background: none;
    border: none;
    color: white;
  }
}

#root {
  div.highlight {
    position: relative;
    pre.highlight {
      padding: 15px;
      position: relative;
    }
    .copyBtn {
      position: absolute;
      bottom: 0px;
      z-index: 1;
      height: 40px;
      right: 0px;
      width: 40px;
      color: red;
      background-color: #b5b5b5;
      border-top-left-radius: 4px;
      border-top-right-radius: 0px;
      &:hover,
      &:focus {
        color: red;
        background-color: $primary-color;
        cursor: pointer;
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
      }
    }
  }
}
