{% if paginator.page == 1 %}
    {% include components/header.html headerObj=page.header %}
{% endif %}
{% if page.not_blog %}
    {% assign button_text = "View" %}
{% else %}
    {% assign button_text = "Read Post" %}
{% endif %}

{% if paginator.total_posts > 0 %}
    <div class="grid-container blog-section">
        <div class="grid-x grid-margin-x medium-unstack equal-height-cards">
    {% for post in paginator.posts %}

        {% assign timeframe = 604800 %}
        {% assign post_in_seconds = post.date | date: "%s" | plus: 0 %}
        {% assign recent_posts = "now" | date: "%s" | minus: timeframe %}

        {% if forloop.first and paginator.page == 1 %}
            <style>
                @media(min-width: 1000px){
                    .blog-post-item-col:nth-child(3n+2) > .blog-post-item {
                        margin-right:0px !important;
                        margin-left:0px !important;
                    }
                }
            </style>
            <div class="featured_post">
                <div class="cell small-12 post_card featured-post-row">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
                            <div class="cell small-12 medium-7 medium-order-2 latest-featured-post">
                                <a href="{{post.url | relative_url }}">
                                {% if post.image contains "/assets/images/" %}
                                    {% capture image_path %}{{post.image | remove_first: '/assets/images/' }}{% endcapture %}
                                {% elsif post.image == site.social_share_image %}
                                    {% capture image_path %}{{site.social_share_image | remove_first: '/assets/images/' }}{% endcapture %}
                                {% elsif post.image.path %}
                                    {% capture image_path %}{{post.image.path | remove_first: '/assets/images/' }}{% endcapture %}
                                {% else %}
                                    {% capture image_path %}{{site.social_share_image | remove_first: '/assets/images/' }}{% endcapture %}
                                {% endif %}
                                {% picture blog {{image_path}} alt=post.title %}
                                </a>
                            </div>
                            <div class="cell small-12 medium-5 medium-order-1 latest-featured-post-content">
                                <a href="{{post.url | relative_url }}">
                                    <div class="post-info">
                                        <span class="post-cat">{{post.categories | first | capitalize }}</span>
                                        <h3>{{post.title}}</h3>
                                        <p class="excerpt">
                                            {% if post.description %}
                                                {{post.description}}
                                            {% else %}
                                                {{ post.content | strip_html | truncatewords:30 }}
                                            {% endif %}
                                        </p>
                                        {% unless page.not_blog %}
                                        <div class="grid-x grid-padding-y author-section align-middle">
                                            {% assign author = site.authors | where: "username", post.author | first %}
                                            {% assign author-url = author.url %}
                                            <div class="cell small-1 author_image_container">
                                                <div class="blog-author-image lazyload"
                                                    data-bg="{% if author.image_path %}{{author.image_path}}{% else %}{{site.blog.avatar_placeholder}}{% endif %}">
                                                </div>
                                            </div>
                                            <div class="cell small-11 author_name_container text-left">
                                                <small class="blog-author">
                                                    <em>{% if author.name %}{{author.name}}{% else %}{{post.author}}{% endif %}</em>
                                                </small>
                                            </div>
                                        </div>
                                        {% endunless %}
                                        <a href="{{post.url | relative_url }}" class="button large">
                                            {{button_text}}
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            {% comment %}
                Blog Filler Element - This is needed due to the layout of the blog. If not included then there will be an empty col on the first blog page.
            {% endcomment %}

            {% if forloop.index == 4 and paginator.page == 1 %}
                {% include {{site.blog.filler_element}} %}
            {% endif %}

                <div class="cell small-12 medium-6 large-4 ">
                    <div class="card">
                    <a href="{{post.url | relative_url }}">
                        {% if post.image contains "/assets/images/" %}
                            {% capture image_path %}{{post.image | remove_first: '/assets/images/' }}{% endcapture %}
                        {% elsif post.image == site.social_share_image %}
                            {% capture image_path %}{{site.social_share_image | remove_first: '/assets/images/' }}{% endcapture %}
                        {% elsif post.image.path %}
                            {% capture image_path %}{{post.image.path | remove_first: '/assets/images/' }}{% endcapture %}
                        {% elsif page.collection_placeholder %}
                            {% capture image_path %}{{page.collection_placeholder | remove_first: '/assets/images/' }}{% endcapture %}
                        {% endif %}
                        {% if image_path %}
                            {% picture blog {{image_path}} alt=post.title %}
                        {% endif %}
                        <div class="read-article">
                            <i class="fa fa-eye"></i>{{button_text}}
                        </div>
                        <div class="card-section post_card__content">
                            <div class="post-cat">{{post.categories | first | capitalize }}</div>
                                {% include components/read_time.html content=post.content %}
                                <h3>{{ post.title}}</h3>
                                {% unless page.not_blog %}
                                    <small>{{ post.date | date: "%A, %B %-d, %Y"}}</small>
                                {% endunless %}
                            <br />
                            <p class="post_excerpt">
                            {{ post.content | strip_html | truncatewords:30 }}
                            </p>
                            <div class="grid-x author-section align-middle">
                                {% unless page.not_blog %}
                                    {% assign author = site.authors | where: "username", post.author | first %}
                                    {% assign author-url = author.url %}
                                    <div class="cell small-2 author_image_container">
                                        <div class="blog-author-image lazyload" data-bg="{% if author.image_path %}{{author.image_path}}{% else %}{{site.blog.avatar_placeholder}}{% endif %}"></div>
                                    </div>
                                    <div class="cell small-10 author_name_container text-left">
                                        <small class="blog-author">
                                            <em>{% if author.name %}{{author.name}}{% else %}{{post.author}}{% endif %}</em>
                                        </small>
                                    </div>
                                {% endunless %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
    {% endfor %}
        </div>
    </div>
{% else %}
    <p>
        No posts of this category were found!
    </p>
{% endif %}
