
{% if include.headerObj.slides %}
    {% include components/slider.html sliderObj=include.headerObj %}
{% elsif include.headerObj.title %}
    {% assign header = include.headerObj %}
    <div class="grid-x grid-padding-x flex-container align-middle callout large {% if header.background_class %}{{header.background_class}}{% endif %}"
    {% if header.background_image %}
    style="background-image:url({{header.background_image}});"
    {% endif %}>
        <div class="cell text-center">
            <h1>{{header.title}}</h1>
            <p class="lead">{{header.text}}</p>
            {% if header.buttons %}
                <div classs="header_buttons">
                {% for button in header.buttons %}
                    <a href="{{button.url}}"
                     class="button {% if button.class %}{{button.class}}{% endif %}">
                     {{button.title}}
                     {% if button.icon %}<i class="{{button.icon}}"></i>{% endif %}
                    </a>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
