
{% if include.headerObj.slides %}
    {% include components/header_carousel.html sliderObj=include.headerObj.slides header="true" %}
{% elsif include.headerObj.title %}
    {% assign header = include.headerObj %}
    <div class="grid-x grid-padding-x flex-container align-middle header callout large {% if header.video or header.background_image %}darken{% endif %}{% if header.class %}{{header.class}}{% endif %}">
        {% if header.image %}
            {% assign image_path = header.image | remove_first: "/assets/images/" %}
            {% picture blog_header_image {{image_path}} %}
        {% endif %}
        {% if header.video %}
        <video autoplay muted preload="none" poster="{{header.video.poster}}" playsinline loop id="jumbotronVideo">
            {% if header.video.source.mp4 %}
                <source src="{{header.video.source.mp4}}" type="video/mp4">
            {% endif %}
            {% if header.video.source.ogg %}
                <source src="{{header.video.source.ogg}}" type="video/ogg">
            {% endif %}
            {% if header.video.source.webm %}
                <source src="{{header.video.source.webm}}" type="video/webm">
            {% endif %}
        </video>
        {% endif %}
        <div class="cell text-center">
            <div class="header_inner">
                <h1>{{header.title}}</h1>
                <p class="lead">{{header.text}}</p>
                {% if header.buttons %}
                    <div classs="header_buttons">
                    {% for button in header.buttons %}
                        <a href="{{button.url}}"
                        class="button {% if button.class %}{{button.class}}{% endif %}">
                        {{button.title}}
                        {% if button.icon %}<i class="{{button.icon}}"></i>{% endif %}
                        </a>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
