<div class="orbit {% if include.header %}header_carousel{% endif %}" role="region" aria-label="Page Slider" data-orbit id="header_carousel">
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
            {% for slide in include.sliderObj %}
            <li class="{% if forloop.first %}is-active{% endif %} orbit-slide" style="height:500px">
                {% unless include.header %}
                <a data-featherlight="{{slide.image}}">
                {% endunless %}
                <figure class="orbit-figure darken">
                    {% if slide.image_alt %}
                        {% assign alt_tag = slide.image_alt %}
                    {% else %}
                        {% capture alt_tag %}Slide {{forloop.index}}{% endcapture %}
                    {% endif %}
                    {% assign image_path = slide.image | remove_first: "/assets/images/"%}
                    {% if include.header %}
                        {% picture orbit_slider_header_image {{image_path}} --alt {{alt_tag}} %}
                    {% else %}
                        {% picture orbit_slider_image {{image_path}} --alt {{alt_tag}} %}
                    {% endif %}
                    <figcaption class="orbit-caption">
                        {% if slide.title %}
                            <h3>{{slide.title}}</h3>
                        {% endif %}
                        {% if slide.text %}
                            <p>{{slide.text}}</p>
                        {% endif %}
                        {% if slide.button %}
                            <a href="{{slide.button.url}}"
                             class="button {% if slide.button.class %}{{slide.button.class}}{% endif %}">
                                {{slide.button.title}}</a>
                        {% endif %}
                    </figcaption>
                </figure>
                {% unless include.header %}
                </a>
                {% endunless %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <nav class="orbit-bullets">
        {% for slide in include.sliderObj %}
        <button {% if forloop.first %}class="is-active"{% endif %} data-slide="{{forloop.index | minus: 1}}">
            <span class="show-for-sr"> Slide {{ forloop.index }} details.</span>
            {% if forloop.first %}
                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
            {% endif %}
        </button>
        {% endfor %}
    </nav>
</div>
