<div class="social_media_links">
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{site.twitter_username}}" class="btn btn-social-icon"><i
            class="icon-twitter"></i></a>
    {% endif %}
    {% if site.facebook_username %}
    <a href="http://facebook.com/{{site.facebook_username}}" class="btn btn-social-icon"><i
            class="icon-facebook"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/company/{{site.linkedin_username}}" class="btn btn-social-icon"><i
            class="icon-linkedin"></i></a>
    {% endif %}
    {% if site.youtube_username %}
    <a href="https://www.youtube.com/{{site.youtube_username}}" class="btn btn-social-icon"><i
            class="icon-youtube"></i></a>
    {% endif %}
    {% if site.github_username %}
    <a href="https://github.com/{{site.github_username}}" class="btn btn-social-icon"><i
            class="icon-github-circled"></i></a>
    {% endif %}
</div>
