{% if page.tab_nav %}
    {% assign tabs = page.tab_nav %}
{% else %}
    {% for entry in site.data.tab_nav.items %}
        {% if entry.pages contains page.url %}
            {% assign tabs = entry.tabs %}
        {% endif %}
    {% endfor %}
{% endif %}
<div class="grid-container fluid" id="tabbed_nav_row" data-sticky-container class="sticky" data-sticky data-margin-top="5" data-anchor="flow_wrapper" data-margin-top="1">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- data-sticky-on="medium" -->
                <ul class="tabs" data-tabs id="tabbed_nav_ul">
                    {% for tab in tabs %}
                        <li class="tabs-title {% if page.url == tab.url %}is-active{% endif %}">
                            <a href="{{tab.url}}" {% if page.url == tab.url %}aria-selected="true"{% endif %}>{{tab.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
