---
layout: base
---
{% if page.header %}
    {% include components/header.html headerObj=page.header %}
{% endif %}
{% if page.flow %}
<div id="flow_wrapper">
    {% for each in page.flow %}
        {% if each.row == "main_content_row" %}
            <div class="grid-container fluid main_content_row">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">{{content}}</div>
                    </div>
                </div>
            </div>
        {% elsif each.row == "container_row" %}
            {% include core/container_row.html object=each %}
        {% elsif each.row == "full_width_row" %}
            {% include core/full_width_row.html object=each %}
        {% elsif each.row == "custom_include_row" %}
            {% include {{each.source}} %}
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <div class="grid-container fluid main_content_row">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">{{content}}</div>
            </div>
        </div>
    </div>
{% endif %}
