---
layout: base
---
<div itemscope itemtype="http://schema.org/{% if page.category == "News" %}Article{% else %}BlogPosting{% endif %}" class="grid-x grid-padding-x flex-container header align-middle callout large darken">
    <link itemprop="image" href="{{site.url}}{% if page.image.path %}{{page.image.path}}{% else %}{{page.image}}{% endif %}" />
    {% if page.image %}
        {% if page.image.path %}
            {% assign image_path = page.image.path | remove_first: "/assets/images/" %}
        {% else %}
            {% assign image_path = page.image | remove_first: "/assets/images/" %}
        {% endif %}
        {% picture blog_header_image {{image_path}} %}
    {% endif %}
    <div class="cell text-center">
        <h4 class="blog-date text-center">
            <em itemprop="datePublished">{{page.date |  date: "%A, %B %-d, %Y"}}</em>
        </h4>
        <h1 itemprop="headline">{{page.title}}</h1>
        {% if page.description %}
        <p itemprop="description">
            {{page.description}}
        </p>
        {% endif %}
        {% assign author = site.authors | where: "username", page.author | first %}
        {% assign author-url = author.url %}

        <small class="blog-author text-center">
            By
            <em itemprop="author">{% if author.name %}{{author.name}}{% else %}{{page.author}}{% endif %}</em>
        </small>
        <a href="{{author-url}}">
            <div class="blog-author-image lazyload"
                data-bg="{% if author.image_path %}{{author.image_path}}{% else %}{{site.data.settings.blog.avatar_placeholder}}{% endif %}">
            </div>
        </a>
        {% include components/read_time.html %}
    </div>
</div>
<div class="grid-container fluid main_content_row">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-8 medium-offset-2">
                <article class="post-content">
                    {{ content }}
                    {% include components/post_series.html %}
                </article>
                {% include components/disqus_comments.html %}
                <div class="PostNav">
                    {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
